<header align="center">
  <%= button_to "Home", root_path, method: :get %>
</header>
<%= form_tag '/drinks', method: :get do %>
  <div align="center">
  <h1>Here Are Some Recommendations:</h1>
    <%@drinks.each do |drink|%>
      <h4> <%=drink.name %></h4>&#127864;
    <% end %>
  </div>
  <% end %>
